/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Indie+Flower&family=Noto+Color+Emoji&display=swap');
*{
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

/*Diverse Variablen*/
:root{
    --bordeauxred-color: #7f1330;
    --babyrose-color: #ffc6bf;
    --flowerrose-color: #fe8982;
    --darkgreen-color: #01122b;
    --beige-color: #ffeee3;
    --fuxia-color: #b72552;
    --text-color: #000;
    --bg-color: #fff;
}

@media screen and (max-width: 768px) {

}

/*Custom Scroll Bar*/
::-webkit-scrollbar{
    width: 0.5rem;
    background: #003844ca;
}
::-webkit-scrollbar-thumb{
    width: 0.5rem;
    background: var(--darkgreen-color);
    border-radius: 5rem;
}



img{
    width: 100%;
}

body{
    color: var(--text-color);
    background: linear-gradient(to bottom, #020111 85%, #191621 100%);
}

/*Chasing Stars*/
.section flex {
    margin: 0;
    position: relative;
    background: linear-gradient(to bottom, #020111 85%, #191621 100%);
    overflow: hidden;
}
/* Stars */
 #stars {
width: 100%;
height: 100%;
z-index: 5;
}
.singleStar {
cursor: pointer;
background: #ffffffbb;
box-shadow: 0 0 3px #fff;
position: absolute;
border-radius: 100%;
}
/* Shooting Star */
.shootingStar {
z-index: 5;
position: absolute;
left: 30%;
top: 50%;
height: 0.5px;
background: linear-gradient(-100deg, white, rgba(255, 240, 27, 0.3));
animation: shooting 3000ms ease-in-out;
}
/* Shooting Star Animation */
@keyframes shooting {
0% {
    width: 0;
}
30% {
    width: 60px;
}
100% {
    width: 0;
    transform: translateX(30rem);
}
}
#twoSec {
position: absolute;
text-align: center;
top: 40%;
left: 20%;
font-size: 30px;
color: white;
z-index: 100;
animation: vanish 4000ms ease-in-out;
}
@keyframes vanish {
0% {
    opacity: 100%;
}
50% {
    opacity: 50%;
}
100% {
    opacity: 0;
}
}



/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{
    0%{top:-10%}
    100%{top:100%}}
@-webkit-keyframes snowflakes-shake{
    0%{-webkit-transform:translateX(0px);transform:translateX(0px)}
    0%{-webkit-transform:translateX(80px);transform:translateX(80px)}
    100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}
@keyframes snowflakes-fall{
    0%{top:-10%}
    100%{top:100%}}
@keyframes snowflakes-shake{
    0%{transform:translateX(0px)}
    50%{transform:translateX(80px)}
    100%{transform:translateX(0px)}}
.snowflake{
    position:fixed;
    top:-10%;
    z-index:9999;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    -webkit-animation-name:snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration:10s,3s;
    -webkit-animation-timing-function:linear,ease-in-out;
    -webkit-animation-iteration-count:infinite,infinite;
    -webkit-animation-play-state:running,running;
    animation-name:snowflakes-fall,snowflakes-shake;
    animation-duration:10s,3s;
    animation-timing-function:linear,ease-in-out;
    animation-iteration-count:infinite,infinite;
    animation-play-state:running,running}
.snowflake:nth-of-type(0){
    left:1%;
    -webkit-animation-delay:0s,0s;
    animation-delay:0s,0s}
.snowflake:nth-of-type(1){
    left:10%;
    -webkit-animation-delay:1s,1s;
    animation-delay:1s,1s}
.snowflake:nth-of-type(2){
    left:20%;
    -webkit-animation-delay:6s,.5s;
    animation-delay:6s,.5s}
.snowflake:nth-of-type(3){
    left:30%;
    -webkit-animation-delay:4s,2s;
    animation-delay:4s,2s}
.snowflake:nth-of-type(4){
    left:40%;
    -webkit-animation-delay:2s,2s;
    animation-delay:2s,2s}
.snowflake:nth-of-type(5){
    left:50%;
    -webkit-animation-delay:8s,3s;
    animation-delay:8s,3s}
.snowflake:nth-of-type(6){
    left:60%;
    -webkit-animation-delay:6s,2s;
    animation-delay:6s,2s}
.snowflake:nth-of-type(7){
    left:70%;
    -webkit-animation-delay:2.5s,1s;
    animation-delay:2.5s,1s}
.snowflake:nth-of-type(8){
    left:80%;
    -webkit-animation-delay:1s,0s;
    animation-delay:1s,0s}
.snowflake:nth-of-type(9){
    left:90%;
    -webkit-animation-delay:3s,1.5s;
    animation-delay:3s,1.5s}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--darkgreen-color);
    box-shadow: 0 8px 11px rgb(14 55 54/ 15%);
    padding: 20px 100px;
    transition: 0.5s;
}

.profile{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
}
.profile img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.profile span{
    font-size: 13px;
    font-weight: 500;
    color: var(--babyrose-color);
}
i, .bx bx-caret-down{
    color: var(--babyrose-color);
}
.logo{
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    color: var(--fuxia-color);
    column-gap: 0.5rem;
}
.logo .bx{
    font-size: 50px;
    color: var(--fuxia-color);
}

.navbar{
    display: flex;
    column-gap: 0.5rem;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
    padding: 0.5rem 1rem;
    font-family: 'Indie Flower', cursive;
}
.navbar a:hover, .navbar .home-active{
    background: var(--fuxia-color);
    border-radius: 5rem;
    color: var(--beige-color);
    transition: background 0.5s;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

section{
    padding: 4.5rem 0 1.5rem;
}

.container{
    position:relative;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    flex-direction: column;
}

.container img{
    max-height: 90%;
    max-width: 45%;
    width:auto;
    height:auto;
    position:absolute;
    right: 10%;
    align-self: auto;
    bottom: 30px;
    top: 10%;
}

.home-text{
    align-items: center;
    padding: 0 60px;
    justify-content: center;
}

.home-text span{
    font-weight: 400;
    font-size: 45px;
    color: var(--bordeauxred-color);
    font-family: 'Great Vibes', cursive;
}

.home-text h1{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 15%;
    color: var(--babyrose-color);
}

.btn{
    padding: 0.6rem 1rem;
    background: var(--fuxia-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 00.5rem;
    max-width: 160px;
}

.btn .bx{
    padding: 4px;
    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 1rem;
    font-size: 20px;
    margin: auto;
}

.btn:hover{
    background: var(--flowerrose-color);
    transition: 0.2s ease;
}

.swiper-button-next{
    background: url(img/rightarrow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-right: 20px;
}

.swiper-button-next::after{
    display: none;
}

.swiper-button-prev{
    background: url(img/leftarrow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    margin-right: 20px;
}

.swiper-button-prev::after{
    display: none;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h1{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--bg-color);
}

.heading span{
    color: var(--babyrose-color);
}

.categories {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.categories-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
  
.categories-container .box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 0.5rem;
}

.categories-container .box img{
    width: 100%;
    height: 100px;
    object-fit: contain;
    object-position: center;
}

.categories-container .box h2{
    font-size: 1rem;
    font-weight: 600;
}

.categories-container .box span{
    font-size: 0.8rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.categories-container .box .bx {
    padding: 10px;
    background: var(--bordeauxred-color);
    color: var(--bg-color);
    border-radius: 5rem;
    margin-top: 2rem;
    position: absolute;
    bottom: -8%;
    display: none;
}

.categories-container .box .bx:hover{
    background: var(--babyrose-color);
    transform: 0.2s all linear;
}

.categories-container .box:hover .bx{
    display: block;
    transform: 0.2s all linear;
}

.box1 {
    background: #fef4ea;
}
.box2 {
    background: #e9f4e9;
}
.box3 {
    background: #faeaea;
}
.box4 {
    background: #eeeef9;
}
.box5 {
    background: #f7f6d7;
}

.myrecipes{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.myrecipes-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
}
.myrecipes-container .box{
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54/ 15%);
    background: var(--beige-color);
    border-radius: 0.5rem 0 0.5rem 0;
}
.myrecipes-container .box:hover{
    transform: translateY(-0.5rem);
    transition: 0.2s all linear;
}
.myrecipes-container .box img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: center;
}
.myrecipes-container .box span{
    font-weight: 500;
    font-size: 13px;
}
.myrecipes-container .box h2{
    font-size: 1.2rem;
    font-weight: 600;
}
.myrecipes-container .box .bx-happy-heart-eyes{
    top: 1rem;
    margin-left: 14rem;
    right: 1rem;
    padding: 10px;
    background: var(--flowerrose-color);
    color: var(--bg-color);
    font-size: 20px;
    border-radius: 0.5rem 0 0.5rem 0;
}
.myrecipes-container .box .bx-happy-heart-eyes:hover{
    background: var(--fuxia-color);
    transition: 0.2s all linear;
}

.about{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, auto));
    align-items: center;
    gap: 1.5rem;
}
.about-text span{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--babyrose-color);
}
.about-text p{
    margin: 0.5rem 0 1rem;
    color: var(--bg-color);
}
.about img {
    width: 600px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    height: 600px;
    display: flex;
}

.footer{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
    background: #faeaea;
    border-radius: 0.5rem;
    padding: 20px;
}
.footer-box{
    display: flex;
    flex-direction: column;
}
.footer-box p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1rem;
}
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social .bx{
    padding: 10px;
    background: var(--bg-color);
    color: var(--fuxia-color);
    border-radius: 5rem;
    font-size: 20px;
}
.social .bx:hover{
    background: var(--fuxia-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}
.footer-box h2{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.footer-box a{
    color: #868a92;
    margin-bottom: 1rem;
}
.footer-box a:hover{
    color: var(--bordeauxred-color);
}
.footer-box form{
    border-bottom: 1px solid var(--text-color);
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.footer-box form input{
    background: transparent;
    border: none;
    outline: none;
}
.footer-box form .bx{
    font-size: 20px;
    color: var(--flowerrose-color);
    cursor: pointer;
}
.footer-box form .bxs-envelope{
    color: var(--bordeauxred-color);
}
.copyright{
    text-align: center;
    padding: 20px;
}